
<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SQI App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<link rel="stylesheet" href="{% static 'style.css' %}">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="" />
		<link rel="stylesheet" href="" />
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
			
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2>WELCOME TO SQI COLLEGE OF TECHNOLOGY</h2>
					

					<form action="{% url 'added' %}" method="POST" role="form">
						
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
							{{ form.text }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
							  </span>
							</div>
						</div>
						<!-- {{ playing.name }}
						{{ playing.age }}
						{{ playing.address }} -->

 					</form>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'delete_paid' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE PAID
									</button></a>
								</div>
								<div class="btn-group">
									<a href="{% url 'delete_unpaid' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE UNPAID
									</button></a>
								<div class="btn-group">
									<a href="{% url 'deletealll' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE ALL
									</button></a>
								</div>
							</div>
						</div>
					</div>

					<ul class="list-group t20">
						{% if todos %}
							{% for todo in todos %}
							{% if todo.status %}
								<a href=""><li class="list-group-item paid">{{ todo.text }}</li> paid</a>
							{% else %}	
								<a href="{% url 'paid' todo.id %}"><li class="list-group-item">{{ todo.text }}</li> no payment yet</a>
							{% endif  %}
							{% endfor %}
						{% else %}
							<h5> No Registered student yet</h5>
						{% endif %}
					</ul>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2023 <strong>ToDo App</strong>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>