.paid {
	background-color: rgb(101, 246, 101);
    margin-top: 20px;
}

.try {
    justify-content: center;
    padding-top: 10px;
}
.het{
    padding-top: 20px;
}
.but{
    height: 20px;
    width: 40px;
    background-color: green;
}
table{
    width: 600px;
    height: 300px;
    border: 3px solid white; 
    border-collapse: collapse;
    background-color: rgb(236, 130, 130);
    margin: auto;
}
td{
    text-align: center;
    padding: 2px;
    border: 2px solid rgb(238, 236, 236);
    color: rgb(36, 7, 7);
    font-family: cursive;
    font-size: 20px;
    font-weight: 800;
}
th{
    color: rgb(80, 29, 6);
    font-size: 30px;
    border: 2px solid rgb(226, 223, 223);
    font-family: 'Times New Roman', Times, serif;
}